# Delphi
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.dcu
*.map
*.drc
*.identcache
*.local
*.stat
*.dsk
*.cfg
*.deployproj
*.groupproj.local
__history/
__recovery/
Win32/
Win64/
Linux64/
OSX64/
Android/
iOS/

# IDE
*.suo
*.user
.vs/
.idea/

# Docs
docs/logo.png

# Claude
CLAUDE.md
AGENTS.md
